<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cor_cocos2dx_mruby_interface.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cor_cocos2dx_mruby_interface_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cor_cocos2dx_mruby_interface_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65A174FA192613E200B61301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A174FE1926140400B61301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A175021926142E00B61301</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
