<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cor_algorithm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cor_algorithm_mac copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>cor_algorithm_mac copy copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cor_algorithm_mac copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>cor_algorithm_mac copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cor_algorithm_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cor_all_cocos2dx 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>cor_all_cocos2dx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>cor_all_cocos2dx_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>cor_cocos2dx_converter_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cor_cocos2dx_mruby_interface_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>cor_data_structure_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>cor_lib_test_main Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cor_lib_test_main iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cor_lib_test_main-desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>cor_lib_test_main-mobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cor_mruby_interface_mac copy copy copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cor_mruby_interface_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>cor_project_structure_mac copy copy copy copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>cor_project_structure_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>cor_system_mac copy copy copy copy copy copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>cor_system_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>cor_type_mac copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5087E73D17EB910900C73F5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657070341C70621100796F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657070381C70627E00796F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>657070461C7081FB00796F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6570704A1C70824D00796F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D051BAFD7F600A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D091BAFD82D00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D0D1BAFD82F00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D111BAFD83100A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D151BAFD83200A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D191BAFD8BE00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D1D1BAFD8D700A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D211BAFD8ED00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D4A1BAFE08500A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D4E1BAFE08800A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D521BAFE08900A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D561BAFE08A00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D5A1BAFE08B00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D5E1BAFE08C00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D621BAFE08E00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EB4D661BAFE08F00A755AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
